.bar {
    background: #EEE;
    font-size: 1rem;
    text-transform: uppercase;
    height: 4em;
    line-height: 4em;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;

}

check-details {
    display: block;
    border: 2px #EEE solid;
    border-top: 0px;
    padding: 1em;
}

.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-align-center {
    text-align: center;
}

.error { background-color: #D9534F }
.ok { background-color: #5CB85C }

.u-pull-right:not(:last-of-type) {
  margin-left: 0;
  border-left: 1px solid #B12520;
}
