<section class="header">
  <h2>alert'd</h2>
</section>
<div class="row">
  <button style="padding: 0" class="two columns" (click)="addCheck()">Add Check</button>
  <div class="three columns">
    <input type="search" placeholder="Filter" [(ngModel)]="filterExpr">
  </div>
</div>
<check *ngFor="let c of checks | matchChecks:filterExpr"
       [check]="c"
       [selected]="c.selected"
       (saveCheck)="saveCheck($event)"
       (removeCheck)="removeCheck($event)"
       (toggleSelect)="toggleSelect($event)">
</check>
